name: Test

on:
    push:
      branches:
        -test-2

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:

      - name: Print Start Message-1
        run: echo "Workflow started..."
      - name: Print Start Message-2
        run: echo "Workflow started..."
